body {
    background-color: #252669;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

.form {
    background-color: #fff;
    display: block;
    padding: 1.5rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #000;
    margin-bottom: 1rem;
}

.input-container input {
    background-color: #fff;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.submit a {
    color: white;
    text-decoration: none;
}
.formBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formBottom ul {
    margin-bottom: 3rem;
}

.formBottom p {
    margin-bottom: .5rem;
    font-size: .8rem;
}

.flexUl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexUl a {
    text-decoration: none;
}

.flexUl li {
    list-style: none;
}

.flexUl li i {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-brands {
    margin-top: 0.5rem;
    cursor: pointer;
    color: white;
    padding: 1rem;
    border-radius: 50%;
    justify-content: space-around;
}

.fa-google {
    background-color: orangered;
}

.fa-twitter {
    background-color: rgb(43, 71, 228);
}

.fa-facebook-f {
    background-color: darkblue;
}
.t-center {
    text-align: center;
}

.signin-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #6B7280;
}

.signin-link a {
    text-decoration: underline;
    color: #6B7280;
}

.footer-section {
    background-color: #f9f9f9;
    padding: 1rem;
    text-align: center;
}

.copyright {
    font-size: 0.9rem;
    color: #666;
    border-top: 1px solid #252669;
    padding-top: 0.5rem;
}
